body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--fundo);
    color: var(--roxo-escuro);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
 
}

.logo {
  width: 40px;
  height: 40px;
  border: 2px solid var(--roxo-escuro);
  border-radius: 20px;             
}

.site-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--branco);
  margin: 0;
}

section {
    padding: 20px;
}

.contato-container {
  display: flex;
  gap: 40px; 
  align-items: flex-start; 
  flex-wrap: wrap;
}

.habilidades-container , 
.projetos-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; }

h2 {
    border-left: 6px solid var(--laranja);
    padding-left: 10px;
    color: var(--roxo); }

.h3 {
    color: var(--laranja); }

.links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

.btn-social {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--verde);
  color: var(--roxo-escuro);
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;

}

.btn {
  display: inline-block;
  padding: 4px 8px;
  background-color:var(--laranja);
  color: var(--roxo-escuro);
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold; }

  #btnTopo {
    position: fixed;
    bottom: 20px;
    right: 20px;

    background-color: var(--roxo);
    color: var(--branco);

    border: none;
    border-radius: 50%;

    width: 50px;
    height: 50px;

    font-size: 20px;
    cursor: pointer;

    display: none;

    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#btnTopo:hover {
    background-color: var(--laranja);
}