body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--fundo);
    color: var(--roxo-escuro);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
    padding: 20px;
}

.contato-container {
  display: flex;
  gap: 40px; 
  align-items: flex-start; 
  flex-wrap: wrap;
}

.habilidades-container , 
.projetos-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; }

h2 {
    border-left: 6px solid var(--laranja);
    padding-left: 10px;
    color: var(--roxo); }

.h3 {
    color: var(--laranja); }

.links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

.btn-social {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--verde);
  color: var(--roxo-escuro);
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;

}

.btn {
  display: inline-block;
  padding: 4px 8px;
  background-color:var(--laranja);
  color: var(--roxo-escuro);
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold; }

  

  @media (max-width: 768px) {

  .menu {
    flex-direction: column;
    gap: 10px;
  }

  .sobre-mim {
    flex-direction: column;
    text-align: center;
  }

  .contato-container {
    flex-direction: column;
  }

  .habilidades-container,
  .projetos-container {
    flex-direction: column;
  }

  .foto-perfil {
    width: 120px;
  }
}
